* {
	background-color: darkgray;
}

.app-container {
	display: flex;
}

.left {
	width: 50%;
}

.mid {
	max-width: 83rem;
	padding: 20px;
}

.right {
	width: 50%;
}

.contact {
	display: flex;
}

/* .contact-left {
	width: 100%;
}

.contact-right {
	width: 50%;
} */

.me {
	border-radius: 50%;
	max-width: 80px;
}

.dark {
	background-color: black;
}

.temp {
	padding: 20px 0;
}

.side-nav {
	position: fixed;
	/* padding-top: 30px; */
	background-color: maroon;
	margin-top: 60px;
	margin-left: 30px;
}

.side-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-nav li {
	padding: 10px;
	font-size: 18px;
	/* background-color: maroon; */
}

.react-icon {
	color: #4bd8eb;
}

.js-icon {
	color: #f7e030;
}

.git-icon {
	color: #de4c36;
}

.node-icon {
	color: #8cc84b;
}

.contact-form {
	display: flex;
	flex-flow: column;
}

.contact-form input,
textarea,
button {
	border-radius: 5px;
	margin: 5px 0;
	min-height: 35px;
	background-color: whitesmoke;
	border: none;
}

.contact-form input:focus,
textarea:focus,
button:focus {
	outline: none;
}

.send-icon {
	background-color: maroon;
	color: whitesmoke;
}

.send-button {
	display: block;
	width: 100%;
	background-color: maroon;
	border: 2px solid black;
}

/****
#f7e030   - javascript

#de4c36    - git

#8cc84b     - node js


*/
