/* html {
	height: 100%;
	background: rgb(151, 139, 154);
	background: linear-gradient(
		29deg,
		rgba(151, 139, 154, 1) 0%,
		rgba(18, 17, 17, 1) 100%
	);
	background-size: cover;
} */

* {
	background-color: darkgray;
}

.app-container {
	display: flex;
}

.left {
	width: 30%;
	/* background-color: maroon; */
}

.mid {
	max-width: 83rem;
}

.right {
	width: 30%;
	/* background-color: maroon; */
}
