*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* background-color: lightsteelblue; */
	background-color: rgb(240, 236, 236);
	font-family: "Montserrat", sans-serif;
	line-height: 1.71429;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #750ff7;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 0.1px solid #b7b7b7;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
}

html {
	scroll-behavior: smooth;
}

.app-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.mid {
	max-width: 60rem;
	padding: 0 20px;
}

.me {
	border-radius: 50%;
	max-width: 80px;
}

.temp {
	padding: 20px 0;
	background-color: rgb(134, 70, 70);
	color: #fff;
}

.intro {
	background-color: lightsteelblue;
}

.tools {
	background-color: lightsteelblue;
}

.side-nav {
	position: fixed;
	margin-top: 60px;
	margin-left: 30px;
}

.side-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-nav li {
	padding: 10px;
	font-size: 18px;
	direction: rtl;
}

.side-nav a {
	color: #750ff7;
	font-weight: bolder;
	margin-left: 10px;
}

.side-nav a:hover {
	color: black;
}

.side-nav a:hover ~ .pap {
	color: #750ff7;
}

.react-icon {
	color: #4bd8eb;
}

.js-icon {
	color: #f7e030;
}

.git-icon {
	color: #de4c36;
}

.node-icon {
	color: #8cc84b;
}

.fa-icons {
	/* background-color: maroon; */
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

#contact {
	background-color: lightsteelblue;
}

.contact-form {
	display: flex;
	flex-flow: column;
}

.contact-form input,
textarea,
button {
	border-radius: 5px;
	margin: 5px 0;
	min-height: 35px;
	background-color: whitesmoke;
	border: none;
}

.contact-form input:focus,
textarea:focus,
button:focus {
	outline: none;
}

.send-icon {
	background-color: #750ff7;
	color: whitesmoke;
}

.send-button {
	display: block;
	width: 100%;
	background-color: #750ff7;
	border: 2px solid black;
}

/* .projects img {
	width: 383.98px;
	height: 255.98px;
	border-radius: 5px;
} */

@media (max-width: 768px) {
	.left,
	.right {
		display: none;
	}
	.mid {
		width: 100%;
	}
}

@media (max-width: 1155px) {
	.left,
	.right {
		display: none;
	}
}

/* color scheme? #750ff7 */

/* Raleway font? */

/* plumm.it is ultra font  */

/* scope is Russo One */

/* fitness is trade winds  */

/* charity is lobster  */
